# SEMANA 3
Paolo Jeanpier Fernandez Sotelo

# TEMAS:
    1. Números
    2. Variables
    3. Manejo de Cadenas
    4. Ingreso de Datos por Teclado
    5. Operadores

3. Manejo de Cadenas

In [1]:
cadena = "Universidad Nacional Tecnológica de Lima Sur"

cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [2]:
# Universidad Nacional Tecnológica de Lima Sur
# 012345...................................-2-1

In [3]:
cadena[5]

'r'

In [4]:
cadena[10]

'd'

In [5]:
# Considera también los espacios en blanco

cadena[11]

' '

In [6]:
# De manera inversa (utilizando números negativos en la posición)

cadena[-23]

'T'

In [9]:
# Para mostrar una subcadena [desde: hasta una antes]
# En Java se usa substring()

cadena[3: 8]

'versi'

In [10]:
# Para obtener el tamaño de una cadena se utiliza len()
# Incluye espacios en blanco

len(cadena)

44

In [14]:
# Se utiliza .upper() para mostrar la cadena completa en mayúsculas
# Solo hace una muestra de "como se vería la cadena", puesto que la original no ha sido modificada

cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [20]:
# Con este ejemplo se podría modificar la cadena original

cadena = cadena.upper()

cadena

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [16]:
# Se utiliza .lower() para mostrar la cadena completa en minúsculas
# Solo hace una muestra de "como se vería la cadena", puesto que la original no ha sido modificada

cadena.lower()

'universidad nacional tecnológica de lima sur'

In [17]:
# Con este ejemplo se podría modificar la cadena original

cadena = cadena.lower()

cadena

'universidad nacional tecnológica de lima sur'

In [21]:
# Generar una lista a partir de una cadena con .split()

cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLÓGICA', 'DE', 'LIMA', 'SUR']

In [22]:
# Generar una lista utilizando un criterio de separación a partir de una cadena con .split()
# En este caso utilizamos la letra "A" como criterio de separación
 
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLÓGIC', ' DE LIM', ' SUR']

In [25]:
# Forma Clásica: concatenar con "+"

nombre = "Paolo Fernandez"
print("Buenas Tardes " + nombre)

Buenas Tardes Paolo Fernandez

In [31]:
# Segunda forma de concatenación: utilizando el .format()

nombre = "Jeanpier Sotelo"
edad = 21
print("Hola {}, ya sé que tienes {} años".format(nombre, edad))

Hola Jeanpier Sotelo ya sé que tienes 21 años

In [34]:
# Dar formato a números con muchos decimales

resultado = 10/3

print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.3f}".format(r = resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [35]:
# Dar formato con "f"
# Solo se encuentra disponible a partir de python 3.6 en adelante

nombre2 = "Fulano"
edad2 = 30
print(f"Buenos Días {nombre2}, ya sé que tienes {edad2} años")

Buenos Días Fulano, ya sé que tienes 30 años

In [37]:
# Dando formato a números con muchos decimales usando "f"

resultado = 10/3

print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333