# SEMANA 3
Paolo Jeanpier Fernandez Sotelo

# TEMAS:
    1. Números
    2. Variables
    3. Manejo de Cadenas
    4. Ingreso de Datos por Teclado
    5. Operadores

5. Operadores

In [1]:
# 5.1 Operadores Aritméticos
# Se tiene: +, -, *, /, **, %, //

In [9]:
numero1 = 10
numero2 = 3

suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2

print(f"Suma: {suma}\n" + 
      f"Resta: {resta}\n" +
      f"Multiplicación: {multiplicacion}\n" +
      f"División: {division}\n" +
      f"Residuo: {residuo}\n" +
      f"Cociente: {cociente}\n" +
      f"Potencia: {potencia}")

Suma: 13
Resta: 7
Multiplicación: 30
División: 3.3333333333333335
Residuo: 1
Cociente: 3
Potencia: 1000

In [10]:
# 5.2 Operadores de Asignación
# Se tiene: =, +=, -=,*=, /=, **=

In [11]:
numero = 5
numero = numero + 3

print(numero)

8

In [13]:
# La operación anterior también se puede expresar de la siguiente manera:

numero = 5
numero += 3

print(numero)

8

In [14]:
# Lo mismo puede suceder con el operador de potencia

numero = 5
numero = numero **3

print(numero)

numero = 5
numero **= 3

print(numero)

125
125

In [15]:
# 5.3 Operadores de Comparación
# Se tiene: ==, !=, <, >, <=, >=

In [16]:
# Ejemplo de igualdad ==:

numero1 = 5
numero2 = 2

numero1 == numero2

False

In [21]:
# De igual forma con las cadenas:

nombre1 = "Juan"
nombre2 = "Juan"

nombre1 == nombre2

True

In [22]:
# 5.4 Operadores Lógicos
# Se tiene: && (and), || (or), not

In [23]:
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

numero1 < numero2

True

In [25]:
# El not invierte el resultado

not(numero1 < numero2)

False

In [26]:
numero1 < numero2 and numero3 < numero4

True

In [27]:
# Se pueden utilizar paréntesis para ordenar las operaciones:

(numero1 < numero2 and numero3 < numero4) or (numero3 > numero4)

True

In [28]:
# 5.5 Operadores de Pertenencia
# Se tiene: in, not in

In [31]:
# Ejemplo:

aula = ["Juan", "Daniel", "Rubén"]

alumno1 = "Diego"
alumno2 = "Juan"

# ¿El alumno Diego está en el aula?

alumno1 in aula

False

In [32]:
# ¿El Juan está en el aula?

alumno2 in aula

True

In [33]:
# ¿El alumno Diego no está en el aula?

alumno1 not in aula

True

In [34]:
# ¿El alumno Juan no está en el aula?

alumno2 not in aula

False

In [35]:
# 5.6 Operadores de Identidad
# Se tiene: is, is not

In [38]:
aula1 = ["Juan", "Daniel", "Rubén"]
aula2 = ["Juan", "Daniel", "Rubén"]

# A continuación, vamos a indicar que aula3 va a compartir el mismo objeto que aula1

aula3 = aula1

In [39]:
# ¿aula3 comparte el mismo objeto que aula1?

aula3 is aula1

True

In [40]:
# ¿aula3 comparte el mismo objeto que aula2?

aula3 is aula2

False

In [41]:
aula1.append("Diego")

In [43]:
# Al imprimir los elementos de la lista aula1 se observa:

print(aula1)

['Juan', 'Daniel', 'Rubén', 'Diego']

In [44]:
# Al imprimir los elementos de la lista aula3 se observa:

print(aula3)

['Juan', 'Daniel', 'Rubén', 'Diego']

In [45]:
# Al imprimir los elementos de la lista aula2 se observa:

print(aula2)

['Juan', 'Daniel', 'Rubén']