# SEMANA 3
Paolo Jeanpier Fernandez Sotelo

# TEMAS:
    1. Números
    2. Variables
    3. Manejo de Cadenas
    4. Ingreso de Datos por Teclado
    5. Operadores

2. Variables

In [1]:
nombre = "Paolo"
apellidos = "Fernandez Sotelo"

nombreCompleto = nombre + " " + apellidos

print(nombreCompleto)

Paolo Fernandez Sotelo

In [2]:
# Se utiliza la función type() para obtener el tipo de variable

numero = 50
type(numero)

int

In [3]:
talla = 1.65
type(talla)

float

In [4]:
# Se utiliza la función str() para convertir un número a una cadena

numero = 100
cadena = str(100)

cadena

'100'

In [5]:
type(cadena)

str

In [6]:
print(cadena)

100

In [8]:
# Se utiliza la función int() para convertir una cadena a un entero

cadena2 = "50"
numero2 = int(cadena2)

numero2

50

In [9]:
type(numero2)

int

In [11]:
# Dependendiendo del tipo de variable que necesitemos, se puede realizar un "casteo", por ejemplo, para convertir una 
# cadena a un flotante utilizamos la función float()

cadena3 = "3.14"
numero3 = float(cadena3)

numero3

3.14159

In [12]:
type(numero3)

float